<html>

<head>
    <title>BOOK-STORE</title>

    <!-- SITE TITTLE -->
    <%- include('../partials/header'); %>

</head>

<body>

    <%- include('../partials/head'); %>
     
    <!--Navbar-->
    <%- include('../partials/navbar'); %>

        <!--Section1-->

        <div class="container" style="margin-top: 10px;">
        <img class="mySlides img-fluid" src="./images/2560.jpg" style="width:100%;">
            <img class="mySlides img-fluid" src="./images/kid.jpg" style="width:100%;">
            <img class="mySlides img-fluid" src="./images/nonfiction.jpg" style="width:100%;">
        </div>
        <!--Section1-->


        <div class="container" style="margin-top: 20px; background:black;">
            <div class="row">

            </div>
        </div>


        <!--js script for image auto change-->
        <script>
            var myIndex = 0;
            carousel();

            function carousel() {
                var i;
                var x = document.getElementsByClassName("mySlides");
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                myIndex++;
                if (myIndex > x.length) { myIndex = 1 }
                x[myIndex - 1].style.display = "block";
                setTimeout(carousel, 2000); // Change image every 2 seconds
            }
        </script>
        <!--js script for image auto change-->

</body>

</html>